body {
    background-color: #00aae4;
    font-family: 'Lobster', cursive;
}
body, html {
    overflow-x: hidden;
    overflow-y: hidden;
}
h1 {
    font-size: 10em;
    color: #f70079;
    text-align: center;
}
h2 {
    font-family: 'Lobster', cursive;
    font-size: 6em;
    text-align: center;
}

#balance-message{
  color: #00F771;
}

.input-xxl {
    height: 1.4em;
    padding: 0.2em 0.2em;
    font-size: 6em;
    line-height: 1.3333333;
    border-radius: 6px;
}
.input-hidden{
    font-size:0px;
    padding: 0;
    width:0px;
    height:0px;
}
#status {
    margin-top: 75px;
    margin-bottom: 75px;
    font-size: 450px;
    text-align: center;
}
#icon-success, #icon-failure {
    display: block;
}
#icon-success {
    color: #00F771;

}
#icon-failure {
    color: #FF2b2b;
}
#github{
  font-size: 16pt;
  position: absolute;
  left: 15px;
  bottom: 15px;
}
#github span{
  vertical-align: text-top;
}

#title{
  padding-top: 350px;
}
