.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-position: center;
  background-size: cover;
}

.mainTitle {
  font-size: 12vw;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
  margin: 1rem;
}

.infoText {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: block;
  text-align: center;
  max-width: 900px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.github {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.github[data-inverted="true"] {
  color: white;
}
.github span {
  font-size: 1.25rem;
  margin-left: 0.5rem;
}

@keyframes rotating {
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 6px solid;
  border-top: 6px solid transparent;
  opacity: 0;
  transition: opacity 0.3s ease;
  animation: rotating 1.2s infinite linear;
}

.loader[data-loading="true"] {
  /* 
  delay makes it only come in if loading is slow
  by putting it in .loading it only delays when class is added.
  */
  transition-delay: 0.5s;
  opacity: 1;
}
