html,
body {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: "Lobster", cursive;
    -webkit-appearance: none !important;
    overscroll-behavior-y: none;
    background-color: black;
}

* {
    box-sizing: border-box;
}
