body,
html {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background-color: var(--background-color);
  font-family: "Lobster", cursive;
  -webkit-appearance: none !important;
  line-height: 1.42857143;
  color: var(--text-color);
  transition: background-color ease-out 0.3s, color ease-out 0.3s;
}

#form {
  height: 0;
  overflow: hidden;
}

#maindiv {
  margin-top: 22%;
  transition: transform ease-out 0.3s;
}

h1 {
  font-size: 12vw;
  font-weight: 500;
  line-height: 1.1;
  color: var(--main-title-color);
  transition: color ease-out 0.3s;
  text-align: center;
  margin-bottom: 10px;
  margin-top: -40px;
}

.info-text {
  font-family: "Nunito", sans-serif;
  font-size: 28px;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 20px;
  display: block;
  text-align: center;
  max-width: 900px;
}

#status-message {
  font-family: "Lobster", cursive;
  font-size: 4em;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
  opacity: 0;
  color: var(--status-text-color);
  transition: color ease-out 0.3s, opacity ease-out 0.3s;
}

#status-icon {
  margin-bottom: -20px;
  font-size: 250px;
  text-align: center;
  opacity: 0;
  transition: opacity ease-out 0.3s;
}

#status-icon > * {
  display: block;
  color: var(--status-text-color);
  transition: color ease-out 0.3s;
  max-width: 400px;
  margin: auto;
}

.showing-status {
  transform: translateY(-25%);
}

.showing-status #status-icon,
.showing-status #status-message {
  opacity: 1;
}

#github {
  font-size: 16pt;
  position: absolute;
  left: 15px;
  bottom: 15px;
  color: var(--github-color);
}
#github img {
  vertical-align: middle;
}
#github span {
  vertical-align: text-top;
}

/* customizable snowflake styling */

#snowflakes {
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: space-around;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

@keyframes snowflakes-fall {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(100vh);
  }
}

@keyframes snowflakes-shake {
  0% {
    transform: translateX(-40px);
  }
  50% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(-40px);
  }
}

.snowflake {
  height: 100%;
  color: #fff;
  font-size: 5em;
  max-width: 100px;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
  position: relative;
  transform-origin: center;
  animation-name: snowflakes-shake;
  animation-duration: var(--shake-speed);
  animation-delay: var(--shake-delay);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.snowflake > div {
  animation-name: snowflakes-fall;
  animation-duration: var(--fall-speed);
  animation-delay: var(--fall-delay);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.snowflake img {
  display: block;
  max-width: 100%;
}
