body {
  background-color: #00aae4;
  font-family: 'Lobster', cursive;
  -webkit-appearance: none !important;
}

body, html {
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  font-size: 12vw;
  color: #f70079;
  text-align: center;
  margin-top: -40px;
}

h2 {
  font-family: 'Lobster', cursive;
  font-size: 4em;
  text-align: center;
}

#balance-message {
  color: #00F771;
}

#form {
  height: 0;
  overflow: hidden;
}

.input-xxl {
  height: 1.4em;
  padding: 0.2em 0.2em;
  font-size: 6em;
  line-height: 1.3333333;
  border-radius: 6px;
}

#status {
  margin-bottom: -20px;
  font-size: 250px;
  text-align: center;
}

#icon-success, #icon-failure {
  display: block;
}

#icon-success {
  color: #00F771;
}

#icon-failure {
  color: #FF2b2b;
}

#github {
  font-size: 16pt;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

#github span {
  vertical-align: text-top;
}

#title {
  margin-top: 22%;
}

#info-text {
  font-family: 'Nunito', sans-serif;
  font-size: 28px;
  margin-top: 32px;
  margin-bottom: 20px;
  display: block;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 480px) {
  #status {
    font-size: 280px;
  }
}

/* Portrait only */
@media screen and (orientation:portrait) {
  h1 { margin-top: 25%; }
}
